body {
  margin: 0;
}
section {
  margin-bottom: 200px;
}

.main-screen {
  margin: auto;
  width: 1600px;
  background: #f2f2f2;
}

.container {
  margin: auto;
  width: 1600px;
}

.logo {
  margin-right: 120px;
  margin-left: 30px;
}

.navigation {
  display: flex;
}

.nav-link:hover {
  border-bottom: 3px solid #E9B0B0;
}

.navigation a:first-child {
  margin-left: 0;
}

.nav-link {
  color: #383838;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-decoration: none;
  margin-left: 60px;
}

.header {
  display: flex;
  width: 70%;
  padding-top: 83px;
}

.body {
  display: flex;
  margin: 0;
}

.social-block {
  display: flex;
  flex-direction: column;
  width: 22px;
  margin-top: 300px;
  margin-left: 30px;
}

.our-links {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.01em;

  color: rgba(56, 56, 56, 0.5);

  transform: rotate(-90deg);
  white-space: nowrap;
}

.icon-container {
  display: flex;
  flex-direction: column;
}

.icon-container img {
  vertical-align: middle;
}

.icon-container a {
  width: 22px;
  height: 22px;
  margin-bottom: 30px;
  text-align: center;
}

.icon-container a:last-child {
  margin-bottom: 0;
}

.long-vert-line {
  width: 0;
  height: 249px;
  background: #c3c3c3;
  border: 1px solid rgba(195, 195, 195, 0.5);
  margin: 40px auto;
}

.main-title {
  margin-left: 200px;
  margin-top: 200px;
  width: 630px;
}

.amongbrokers {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  white-space: nowrap;

  color: #383838;

  opacity: 0.5;
}

.rent-NY {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  line-height: 100px;
  width: 631px;

  color: #383838;
}

.circle {
  width: 56px;
  height: 56px;
  left: 637px;
  top: 595px;
  background: #e9b0b0;
  border-radius: 50%;
}

.our-links.arrow {
  position: absolute;
  width: 115px;
  height: 24px;
  left: 147px;
  top: 415px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: rgba(56, 56, 56, 0.5);
  transform: rotate(-90deg);
}

.skyscraper {
  width: 744px;
  height: 993px;
  left: 980px;
  top: 0px;
  background: url(imgCover.jpg);
}

.forbes-interview {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  letter-spacing: 0.01em;
  text-transform: uppercase;
  padding-right: 144px;
  background: #f2f2f2;
}

.forbes-interview a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  color: rgba(56, 56, 56, 0.5);
  text-decoration: none;
}

.forbes-interview-text {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  margin-bottom: 40px;
}

.short-vert-line {
  margin-top: 37px;
  margin-left: 12px;
  width: 0px;
  height: 100px;

  background: #c3c3c3;
  border-left: 1px solid rgb(195, 195, 195);
  opacity: 0.5;
}

.news-content {
  display: flex;
  width: 368px;
  justify-content: space-between;
}

.news {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #383838;
}

.content {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #383838;
  margin-left: 67px;
}
.go-to {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: 0.01em;

  color: #000000;
  white-space: nowrap;
}

.go-to .arrow-with-circle {
  position: relative;
  width: 100px;
  left: 240px;
  top: -23px;
  /* как задать, между текстом и стрелкой ровно 30px? Я могу сдвинуть, но погрешность же есть
        плюс, я сейчас выровняла текст и стрелку на глаз, а как это сделать по-человечески? 
        а еще на моем мониторе с теми параметрами, которые там указаны, все слишком крупно и сдвинуто вправо. ну, непропрорционально*/
}

.go-to .arrow-with-circle:before {
  content: "";
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #e9b0b0;

  position: absolute;
  bottom: 0;
  right: 24px;
}

.go-to .arrow {
  margin: 30px auto;
  transform: rotate(135deg) translate(-10px, 21px);
}


.rent-cond-rectangle {
  display: flex;
  background-color: white;
  padding: 49px;
  padding-right: 200px;
  padding-left: 140px;
  margin-bottom: -60px;
}

.rectangle-first-page {
  width: 928px;
  height: 110px;
  left: 842px;
  top: 993px;

  background: #ffffff;
  margin-left: 842px;
}

.bottom-title {
  width: 209px;
  height: 60px;
  margin-right: 70px;

  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  white-space: nowrap;

  color: #383838;
}

.bottom-content {
  width: 320px;
  height: 72px;
  left: 1257px;
  top: 1055px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.01em;

  color: #383838;
}

.bottom {
  display: flex;
  justify-content: flex-end;
}

.offices { 
  margin: 200px auto auto auto;
  width: 1600px;
}

.first-line {
  width: 110px;
  height: 20px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: rgba(56, 56, 56, 0.5);
}

.headline {
  width: 479px;
  height: 60px;

  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;

  color: #383838;
}

ul {
  width: 257px;
  height: 432px;
  
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 54px;
  list-style: none;

  margin-top: 65px;
  letter-spacing: 0.01em;
  
  color: #383838;
}

.slider-list li {
  cursor: pointer; 
  line-height: 1em;
  margin-bottom: 30px;
}

.slider-list li span:hover {
  border-bottom: 3px solid #E9B0B0;
}

.offices-display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -420px;
  margin-right: -200px;
}

.office-pic-left {
  width: 513px;
  height: 756px;
  left: 565px;
  top: 1517px;
  margin-right: 40px;
  margin-top: -29px;
}

.office-pic-right {
  width: 802px;
  height: 596px;
  left: 1118px;
  top: 1537px;
  margin-bottom: 90px;
}

.description p {
  display: flex;
  background-color: white;

  padding: 49px;
  padding-right: 45px;
  padding-left: 13px;
  padding-bottom: -60px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400; 
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.01em;

  color: #383838;
}

.description {
  display: flex;
  background-color: white;
  margin-left: 1074px;
  margin-top: -184px;
  margin-right: -106px;
  flex-direction: column;
  position: relative;
  padding: 0px;
  padding-right: 45px;
  padding-left: 90px;
}

.switch-arrows {
  display: flex;
}

.arrow {
  display: block;
  width: 6px;
  height: 6px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  transform: rotate(135deg) translate(0px, 0px);

  z-index: 999;
}

.arrow:before {
  content: "";
  display: block;
  width: 2px;
  height: 85px;
  background-color: rgba(0, 0, 0, 0.5);
  transform: rotate(-45deg) translate(29px, 11px);
  left: 0;
  top: 0;

  z-index: 999;
}

.description .arrow.left {
  transform: rotate(315deg);
  margin-right: 186px;

}

.description .arrow.right {

}

.description .arrow {

}

.about-us {
  margin: 200px auto auto auto;
  width: 1600px;

  display: flex;
}

.left-side {
  flex-basis: 201px;
  margin-right: 150px;
  margin-left: 450px;
  margin-top: 34px;
}

.upper-number, .lower-number {
  width: 93px;
  height: 95px;
  margin-bottom: 30px;
  
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 95px;

  color: #383838;
}

.details {
  width: 232px;
  height: 84px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  letter-spacing: 0.01em;

  color: #383838;
}

.right-side .details {
  padding-top: 60px;
  width: 493px;
  height: 289px;

  
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  
  letter-spacing: 0.01em;

  color: #383838;
}

.right-side .go-to {
  margin-left: 40px;
}

.gray-circle {
  height: 700px;
  width: 700px;
  top: 2500px;
  margin-left: 475px;
  background-color: rgba(242, 242, 242, 1);
  
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: -1;
}

.showreel {
  margin: 200px auto auto auto;
  width: 1600px;
}

.showreel .first-line {
  width: 249px;
  height: 20px;
}

.showreel .headline {
  margin: 20px 0 60px 30px;
}

.showreel .first-line, .offices .first-line, .offices .headline {
  margin-left: 30px;
}